# !!!!! LEVEL YOUR Z OFFSET BUTTON !!!!!
# https://1coderookie.github.io/Kobra2NeoInsights/hardware/bed/#adjusting-the-sensors-height
# !!!!! LEVEL YOUR Z OFFSET BUTTON !!!!!
# !!!!! LEVEL YOUR Z OFFSET BUTTON !!!!!
# !!!!! LEVEL YOUR Z OFFSET BUTTON !!!!!
# https://1coderookie.github.io/Kobra2NeoInsights/hardware/bed/#adjusting-the-sensors-height
# !!!!! LEVEL YOUR Z OFFSET BUTTON !!!!!
#
# Make sure you add the following to printer.cfg:
#
# >[include AutoOffset.cfg]
#
# AND
#
# >[gcode_button zbutton]
# >pin: ^PA0
# >press_gcode:
# > RESPOND MSG="Z offset button PRESSED"  ; Optional, Comment out if you don't like it"

[delayed_gcode zoffset_loop]
gcode:
    OFFSET_LOOP

[gcode_macro Z_Offset]
description: "Homes XYZ, lowers to Z-offset button, calculates new Z offset"
variable_isverbose: False       ; Adds debug messages.
gcode:
    {% set IDLE_TEMP = params.Idle_Temp|default(175)|float %}
    {% set idlez = params.Idle_Z|default(25)|float %}
    
    ### Verbose 
    # I've said this word so many times it doesnt sound real anymore and I'm too afraid to google it to make sure it's correct.
    {% if isverbose == True %}
      RESPOND PREFIX="Z_Offset" MSG="Verbose Enabled! Get Ready!"
    {% endif %}

    # Check if any axes need homing. If so, do it. g28 being before any moves allows it to be run in START_PRINT
    {% if printer.homed_axes != 'XYZ' %} ; check if any axes are not homed.
		G28                     ; Home all axes
	{% endif %}
    M104 S{IDLE_TEMP}           ; Extruder to Idle temp OR default 170c to prevent oozing Start extruder heating
    G90                         ; Absolute positioning
    ;G28                        ; Home all axes
    G1 Z{idlez} F600                ; Safe height, 25mm to clean nozzle
    M109 S{IDLE_TEMP}           ; Wait for extruder temp
    G4 P1000                    ; Dwell 1000ms (1s) for cleaning.
    ;{% if printer.homed_axes != 'XYZ' %} ; check if any axes are not homed.
	;	G28                     ; Home all axes
	;{% endif %}
    STINKYBUTT                  ; Wipe macro
    G1 X56.5 Y238 F3000           ; Move to button location
    G1 Z5 F600
    G1 Z1 F100          ;*1*    ; Line Up, should be same as z offset above (marked ***************************************1*)
    ;M400                        ; wait for movement to finish, if using script in a start_print macro this gcode will skip the whole process for some reason.. probably to do with the delayed gcode loop setup
    G4 P1500                    ; Dwell 1.5sec
    {% if printer["gcode_macro Z_Offset"].isverbose == True %}
      RESPOND PREFIX="Z_TUNE" MSG="Starting Z-lowering sequence..."
    {% endif %}
    SET_GCODE_OFFSET Z=0                 ; Reset offset
    G91                                   ; Switch to relative positioning
    ;{% set zpos = 0.0 %}
    OFFSET_LOOP

[gcode_macro offset_loop]
variable_zinterval: 0.05     ; Between 0.01 - 0.1 The change in height(mm) when locating Z-offset. (Too high is inaccurate and too low is slow)
variable_first_layer: 0    ; Adjusts Z-offset by this amount to account for inaccuracy and first layer 0.5mm(innacuracies) + 0.3mm(first layer).

variable_zpos: 1             ; Initial Z position, should be same as z offset above (marked ***************************************1*)

variable_loop: 0             ; Leave 0 - Track iterations
variable_reset: 0            ; Leave 0 - Reset flag
variable_zlow: 0             ; Leave 0 - Will track if Z offset is too low
variable_isverbose: False       ; Adds debug messages.
gcode:
    {% set isverbose = printer["gcode_macro Z_Offset"].isverbose %}
    {% set zoff = printer["gcode_macro offset_loop"].zpos + 2 %}   ;offset for z
    {% if isverbose == True %}
      {% if loop < 1 %}
        RESPOND Prefix="Loop" MSG="zoff{ zoff } / zinterval{ zinterval } = zlow{ zoff / zinterval }"
        RESPOND Prefix="Offset_Loop" MSG="Zlow = { zlow }, Zinterval = { zinterval }, Zoff = { zoff } "|" Script Verbose= { isverbose }"
      {% endif %}
    {% endif %}
    {% set zlow = zoff / printer["gcode_macro offset_loop"].zinterval | float %}
    {% if isverbose == True %}
      {% if loop < 1 %}
        RESPOND Prefix="Loop" MSG="Settings Configured. Lowering."
      {% endif %}
    {% endif %}
    {% if printer["gcode_macro offset_loop"].reset == 0 %}          ;## Reset?
      {% if printer["gcode_button zbutton"].state == "RELEASED" %}      ;## Not Pressed?
        {% if printer["gcode_macro offset_loop"].loop <=  zlow  %}      ;## Too Low?    *** # Should be zpos/zinterval ***
          G1 Z-{ printer["gcode_macro offset_loop"].zinterval } F60
          SET_GCODE_VARIABLE MACRO=offset_loop VARIABLE=zpos VALUE={ printer["gcode_macro offset_loop"].zpos - printer["gcode_macro offset_loop"].zinterval }
          SET_GCODE_VARIABLE MACRO=offset_loop VARIABLE=loop VALUE={ printer["gcode_macro offset_loop"].loop + 1 }
          {% if isverbose == True %}
            RESPOND Prefix="Loop" MSG="Lowering... {loop} ({zpos}mm)"
          {% endif %}
          M400     ; wait for movement to finish, if using script in a start_print macro this gcode will skip the whole process for some reason.. probably to do with the delayed gcode loop setup
          ;G4 P250   ; Dwell 250ms
          QUERY_BUTTON BUTTON=zbutton
          UPDATE_DELAYED_GCODE ID=zoffset_loop DURATION=0.1 ; Next iteration in 0.1ms
        {% else %}      ;## -2mm Too Low
          SET_GCODE_OFFSET Z_ADJUST=-2
          RESPOND Prefix="Offset too Large" MSG="Z Offset too large (>2mm), click Save next to Z-Offset Under Toolhead to save adjustment and trying again."
          SET_GCODE_VARIABLE MACRO=offset_loop VARIABLE=reset VALUE=1
          ;SAVE_CONFIG
        {% endif %}
      {% else %}                 ;## Button Pressed
        {% if isverbose == True %}
          RESPOND Prefix="Button Pressed" MSG="Z offset button triggered at Z = { printer["gcode_macro offset_loop"].zpos }mm"
        {% endif %}
        SET_GCODE_OFFSET Z_ADJUST={ printer["gcode_macro offset_loop"].zpos + printer["gcode_macro offset_loop"].first_layer } MOVE=1              ;## Sets Z Offset + unoffset variable
        G90
        G1 Z5 F600            ; Lift Up 5mm
        G1 X36 Y194 F6000     ; Move back to home pos
        ;{% if isverbose == True %}
          RESPOND Prefix="Button Pressed" MSG="Z offset complete. New Z offset = { printer["gcode_macro offset_loop"].zpos + printer["gcode_macro offset_loop"].first_layer }mm"
        ;{% endif %}
        M104 S0              ; Extruder temp 0
        SET_GCODE_VARIABLE MACRO=offset_loop VARIABLE=reset VALUE=1
      {% endif %}
    {% else %}      ;## Reset True
        SET_GCODE_VARIABLE MACRO=offset_loop VARIABLE=loop VALUE=0
        SET_GCODE_VARIABLE MACRO=offset_loop VARIABLE=reset VALUE=0
        {% if isverbose == True %}
          RESPOND Prefix="Reset True" MSG="offset_loop Reset."
        {% endif %}
    {% endif %}



[gcode_macro stinkybutt]
description: Wipe!
variable_isverbose: False       ; Adds debug messages.
gcode:
    {% set isverbose = printer["gcode_macro Z_Offset"].isverbose %}
    {% if isverbose == True %}
      Respond Prefix="Stinkybutt" MSG="Script { isverbose } Z_Offset{ printer["gcode_macro Z_Offset"].isverbose }"
    {% endif %}
    # X83 Y236 center | X77 Y233 min | X87 Y240 max
    G90                    ; Use Absoulte coords
    G1 Z5 F600                    ; Safe Z
    G1 X90 Y236 F3000      ; Line up silicone pad right side
    {% if isverbose == True %}
      RESPOND PREFIX="Wipe" MSG="Cleaning..."
    {% endif %}
    G1 Z0.5 F300           ; Drop
    G1 X83 Y236            ; Center
    G1 E-1
    G4 P500                ; Dwell 500ms
    M104 S160              ; Extruder temp 160 to prevent oozing ruining offset calibration
    G1 X90 Y240            ; Right,Rear
    G1 E-1
    G1 X75 Y240            ; Left,Rear
    G1 E-1
    G1 X90 Y235            ; Right,Front
    G1 X75 Y235            ; Left,Front
    G1 X90 Y240            ; Right,Rear
    G1 E-0.5
    G1 X75 Y240            ; Left,Rear
    G1 E-0.5
    G1 X83 Y238         ; Center
    {% if isverbose == True %}
      RESPOND PREFIX="Wipe" MSG="Moving towards Button"
    {% endif %}
    G1 E-0.5
    G1 Z2 F200              ; lift slow
    G1 X77 Y238 F600        ; Egress towards button

    
